@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
  .container-alterar {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/Curvas/1Prancheta 1 cópia 2.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container-alterar .title {
    font-size: 2.2rem;
    font-weight: 650;
    color: #000000;
    margin-bottom: 0.6rem;
  }
  .forms-container-alterar{
    width: 52%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
.forms-container-alterar h5{
  text-align: left;
}
  .container-alterar .input-field {
    width: 100%;
    margin: 0.5rem 0;
    height: 3.43rem;
    border-radius: 3.43rem;
    display: flex;
    padding: 0 0.4rem;
    background-color: var(--cinza-claro);
}
.container-alterar .input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--cinza);
    margin-left: 8px;
    width: 100%; 
    padding: 0 8px; 
    box-sizing: border-box;
}
.container-alterar .input-field input::placeholder {
    font-weight: 500;
} 
   .container-alterar .btn {
    width: 60%;
    background-color: #000000;
    border: none;
    outline: none;
    height: 3rem;
    border-radius: 49px;
    color: #fff;
    font-weight: 600;
    font-size: 1.3rem;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  .container-alterar .voltar{
    text-align: center;
    text-decoration: none;
    margin-top: 1.5rem;
  }
   .container-alterar .voltar a{
    color: black;
    font-size: 1.1rem;
  }
  .container-alterar .voltar1{
    text-align: center;
    text-decoration: none;
    margin-top: 1.7rem;
  }
   .container-alterar .voltar1 a{
    color: var(--cinza);
    font-size: 1rem;
  }
@media (max-width:500px){
  .forms-container-alterar{
    width: 100%;
    padding: 0 0.5rem;
  }
}