@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* Geral */

.container-blog {
  padding: 0.6rem 1rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  /* background-image: url("../assets/Curvas/1Prancheta 1 cópia 2.png"); */
  background-repeat: repeat-Y;
  background-size: cover;
}

.banner-blog {
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 15rem;
  background: url('../assets/img2/bannerSaboria.jpg') center;
  background-size: 92%;
  background-position-y: 43%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.content-blog {
  width: 100%;
  display: flex;
  gap: 0.7rem;
}
.materias-blog {
  padding: 0.5rem;
  width: 65%;
  display: flex;
  flex-direction: column;
}
.materias-blog h2 {
  text-align: left;
}
.line-blog {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.aside-blog {
  width: 33%;
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.blog-item {
  width: 90%;
  box-sizing: border-box;
  margin: 10px;
  background-color: var(--branco);
  border-radius: 8px;
  overflow: hidden;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: ease-in 0.3s;
}

.blog-item img {
  width: 100%;
  height: auto;
}
.blog-item:hover {
  scale: 1.1;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.blog-item h2 {
  padding: 10px;
  font-size: 1.2em;
  text-align: left;
  color: var(--cinza);
}

#alert-box {
  border-radius: 0.5rem;
  background-color: white;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  position: absolute;
  padding: 0.5rem;
  top: 25%;
  left: 25%;
  z-index: 5;
  border-radius: 2rem;
  transition: all 0.3s ease;
}


#alert-box h2{
  text-align: center;
  font-size: 2rem;
}
#alert-box p{
  font-size: 1rem;
  text-align: justify;
}
#alert-box #btn-alert-box{
  width: 70%;
  border-radius: 0.6rem;
  padding: 0.3rem 0.1rem;
  font-weight: 700;
  border: 2px solid transparent;
  background-color: var(--verde);
  color: var(--branco);
  cursor: pointer;

  transition: 0.3s ease-in;
}
#alert-box #btn-alert-box:hover{
  background-color: transparent;
  color:  var(--verde);
  border: 2px solid var(--verde);
}

#alert-box img{
  width: 100%;
  border-radius: 2rem;
}
.add-prato{
  width: 100%;
  scale: 1.1;
  margin: 0.5rem;
}
.add-prato, .add-prato form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.6rem;
  gap: 0.6rem;
  align-items: center;

}
.add-prato form{
  width: 100%;

}
.add-prato form input, .add-prato form textarea{
  width: 100%;
  padding: 0.2rem;
  border-radius: 0.3rem;
  border: 2px solid var(--verde);
  font-weight: 600;
  outline: none;
  color: var(--cinza);
}
.add-input{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.add-prato h2{
font-weight: 800;
color: var(--verde-escuro);
}
.add-btn{
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.add-btn button{
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
  width: 7rem;
  font-weight: 600;
  border: none;
  color: var(--branco);
  background-color: var(--vermelho);
  transition: 0.3s ease-in;
}
.add-btn button:hover{
  background-color: #640000;
}
.add-btn button:first-child{
background-color: var(--verde-escuro2);
}
.add-btn button:first-child:hover{
  background-color: var(--verde-escuro);
}
@media (max-width: 1000px){
  #alert-box{
    width: 34rem;
  }
}
@media (max-width: 800px) {
  #alert-box{
    width: 24rem;
    right: 10%;
 left: 10%;
  }
  .line-blog {
    grid-template-columns: repeat(2, 1fr);
  }
  .materias-blog{
    width: 55%;
  }
  .aside-blog{
width: 40%;
  }
}
@media (max-width: 600px) {
  .line-blog {
    grid-template-columns: repeat(1, 1fr);
  }
  .materias-blog{
    width: 50%;
  }
  .aside-blog{
width: 50%;
  }
  #alert-box{
    width: 18rem;

 top: 60%;
  }
  #alert-box h2{
    text-align: center;
    font-size: 1.2rem;
  }
}
@media (max-width: 400px){
.content-blog{
flex-direction: column-reverse;
}
.materias-blog, .aside-blog{
  width: 96%;
}
#alert-box{
  width: 16rem;
}
#alert-box h2{
    font-size: 1rem;
}
#alert-box p{
left: 20%;
right: 20%;
  font-size: 0.8rem;
}
.add-btn button{
  width: 5rem;
}
}