.container-cadastro {
  display: flex;
  background-image: url("../assets/Curvas/1Prancheta 1 cópia 9.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;

}
.card-cadastro {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.card-cadastro-img {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.card-cadastro {
  padding: 0.5rem 1rem;
}
.card-cadastro-img img {
  width: 100%;
  height: 100%;
}
.card-cadastro h2 {
  font-size: 3rem;
  margin-bottom: 0.2rem;
}
.card-cadastro a {
  text-decoration: none;
}

.icons-cadastro .fa-brands {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s all;
  font-size: 2rem;
}

.icons-cadastro .fa-google {
  width: 14rem;
  border-radius: 2rem;
  padding: 0.5rem;
  transition: 0.3s all;
  font-size: 2rem;
  border: 2px solid #e33629;
  color: #e33629;
}

.icons-cadastro .fa-google:hover {
  background-color: #e33629;
  color: var(--branco);
}

.card-cadastro form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 2.5rem;
  align-items: center;
  justify-content: center;
}
.card-cadastro form input,
select {
  border: none;
  margin: 5px;
  width: 85%;
  font-size: 1rem;
  padding: 0.7rem 0.2rem;
  outline: none;
  border-radius: 0.8rem;
  background-color: var(--cinza-claro);
  color: var(--preto);
}
.card-cadastro form input::placeholder {
  color: var(--cinza);
}
 #cadastrar, #cadastrarRes{
  background-color: var(--preto-night);
  color: var(--branco);
  width: 40%;

}
#loginRes{
  background-color: var(--preto-night);
  color: var(--branco);
  width: 10rem;
}
.mudarCor {
  color: var(--preto-night);
}
.alergias{

  
  padding: 0.3rem;
  justify-items: center;
  width: 85%;
  border: none;
  border-radius: 1rem;

  background-color: var(--cinza-claro);

}
.alergias div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  align-self: flex-start;
  text-align: justify;
}
.alergias label:first-child{
  text-align: center;
  margin-bottom: 0.8rem;
}
@media (max-width: 850px) {
  
  .card-cadastro-img {
    display: none;
  }
  .card-cadastro {
    width: 100%;
    padding: 0.5rem 0.2rem;
  }
  #cadastrar, #cadastrarRes{
    width: 50%;
  }
  .card-cadastro h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 350px) {
.icons-cadastro .fa-google{
  width: 10rem;
}
  .card-cadastro,
  form {
    padding: 0.2rem;
  }
  .icons-cadastro .fa-brands{
    width: 1.5rem;
    height: 1.5rem;
  }
  .fa-brands {
    width: 1rem;
    height: 1rem;
    font-size: 1.2rem;
  }
  .icon-cadastro{
    padding: 0;
    font-size: 1rem;
  }
  .card-cadastro form input,
  select {
    width: 100%;
  }
  .alergias{
    width: 100%;
  }
  #cadastrar, #cadastrarRes{
    width: 100%;
  }
  .card-cadastro h2 {
    font-size: 2rem;
  }
}


