@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
  .container-check {
    width: 100%;
    min-height: 100vh;
    background-image: url('../assets/Curvas/1Prancheta 1 cópia 4.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .container-check .form-container-check{
    background-color: var(--verde-claro);
    border-radius: 1.2rem;
    width: 35rem;
  }
  .container-check .title{
    margin-top: 1.5rem;
    font-weight: 650;
  }
  .container-check .btn {
    width: 11.5rem;
    background-color: var(--preto);
    border: none;
    height: 3rem;
    border-radius: 49px;
    color: var(--branco);
    font-weight: 600;
    font-size: 1.3rem;
    margin: 5px 0;
    margin-top: 20px;
    cursor: pointer;
    z-index: 1;
  }
  .container-check .voltar1{
    text-align: center;
    text-decoration: none;
    margin-top: 1.3rem;
  }
   .container-check .voltar1 a{
    text-decoration: none;
    color: #525252;
    font-size: 1rem;
  }
  .container-check .check{
margin-top: -20px;
    height: 33vh;
  }
  .container-check .check .image{
    max-width: 100%;
    z-index: 0;
    width: 22rem;
  }
  @media (max-width:600px){
    .container-check .form-container-check{
      width: 28rem;
    }
  }
  @media (max-width:460px){
    .container-check .form-container-check{
      width: 20rem;
    }
  }
  @media (max-width:340px){
    .container-check .form-container-check{
      width: 16rem;
    }
  }