.comentarios-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-image: url('../assets/Curvas/1Prancheta 1 cópia 4.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40%;
  margin-bottom: 3rem;
  margin-top: 3rem;
  overflow-x: hidden;
}
.comentarios-header {
  color: #2e5c1e;
  margin-bottom: 2rem;
  font-weight: 700;
}
.comentarios-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.comentario-card {
  background-color: #f9f9f9;
  border-radius: 1.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem;
  width: 27.5rem;
  font-size: 1rem;
  height: 18rem;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.starD{
  font-size: 0.9rem;
}
.user-image {
  border-radius: 50%;
  height: 3rem;
  margin-right: 1rem;
  width: 3rem;
}

.user-name {
  font-weight: bold;
}

.user-age {
  font-size: 0.875rem;
  color: #555;
}

.user-review {
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
}

.star-rating {
  color: #fbc02d;
  font-size: 1.25rem;
}

@media (max-width:600px){
.comentario-card{
  height: 16rem;
  width: 20rem;
  font-size: 0.8rem;
}
@media (max-width:370px){
  .comentario-card{
    height: 16rem;
    width: 16rem;
font-size: 0.7rem;
  }
  .star-rating {

    font-size: 1rem;
  }
  .user-image {
    height: 2.3rem;

    width: 2.3rem;
  }
  
}
}