/*footer*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
background-color:var(--amarelo);
   min-width: 100%;
    text-align: center;
}
#container-footer{
    padding: 1.5rem 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    justify-items: center;
}
.card-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.card-footer img{
    width: 100%;
}
.card-footer ul{
    line-height: 2rem;
}
.card-footer  a, .card-footer p, .card-footer {
    font-size: 1.2rem;
    color: var(--preto);
    text-decoration: none;
}
.card-footer a:hover{
    text-decoration: underline 2px solid var(--preto);
    text-underline-offset: 0.5rem;
}
.card-footer h2{
    font-size: 1.2rem;
}
.icons-footer{
    border-top: var(--branco) 2px solid;
    padding: 0.5rem 0rem;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.icon-footer{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--branco);
    margin: 5px;
    width: 3.75rem;
    height: 3.75rem;
   border-radius: 50%;
   padding: 0.3rem;
   transition: 0.2s ease-in all;
}
.icon-footer a{
    color: var(--branco);
}
.icon-footer:hover{
    background-color: var(--branco);
}
.icon-footer:hover  a{
    color: var(--amarelo);
}
#politicadePriv{
    text-decoration: underline;
    color: var(--preto);
}
@media (max-width:800px){
    #container-footer{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:500px){
    #container-footer{
        grid-template-columns: repeat(1, 1fr);
    }
}
