.containerFormulario{
    display: flex;
    width: 100%;
}
.formsClientes{
    padding: 1rem;
    background-color: var(--verde);
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerFormulario .formsClientes form{
display: flex;
flex-direction: column;
width: 95%;
align-items: center;
justify-content: center;
gap: 20px;
}
 .formsClientes form input, .formsClientes form textarea{
background-color: var(   --verde-claro);
outline: none;
border-radius: 0.7rem;
border: none;
width: 65%;
font-size: 1.2rem;
color: var(--cinza);
}
.formsClientes form input{
    padding: 0.3rem;
}
.formsClientes form input::placeholder, .formsClientes form textarea::placeholder{
    color: var(--cinza);
    padding: 8px;
}
.formsClientes h2{
    font-size: 2rem;
    color: var(--branco);
    font-weight: bold;
}
.formsClientes form button{
    width: 30%;
    font-size: 1.5rem;
    padding: 0.3rem 0rem;
    color: var(--branco);
    background-color: var( --verde2);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}
.formsClientes form button:hover{
    background-color: var(--verde-escuro);
}
.imgClientes{
    width: 35%;
    display: flex;
    align-items: center;
}
.imgClientes img{
    width: 100%;
    transform: translateX(-20%);
}
.linkin{
    width: 100%;
    justify-content: center;
    display: flex;
    text-decoration: none;
}
@media (max-width:620px){
    .formsClientes{
        width: 100%;
    }
    .formsClientes form input, .formsClientes form textarea{
        width: 80%;
    }
    .imgClientes{
        display: none;
    }
    .formsClientes form button{
        width: 40%;
    }
}
@media (max-width:320px){
    .formsClientes form input, .formsClientes form textarea{
        width: 100%;
    }
    .formsClientes form button{
        width: 60%;
    }
}