@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.container-login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-image: url('../assets/img2/curva.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container-login .forms-container {
    width: 50%;
    height: 100%;
  } 
  .container-login form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.2s 0.7s;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .container-login .title {
    font-size: 2.2rem;
    color: var(--preto-night);
    margin-bottom: 10px;
  }

  .container-login .input-field {
    max-width: 23.75rem;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 3.43rem;
    border-radius: 3.43rem;
  display: flex;
  align-items: center;
    padding: 0 0.4rem;
    position: relative;
  }
  
  .container-login .icone-login {
    text-align: center;
    line-height: 3.43rem;
    color: var(--preto-night);
    transition: 0.5s;
    font-size: 1.1rem;
    margin-right: 0.6rem;
  }
  
  .container-login .input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--preto-night);
  }
  
  .container-login .input-field input::placeholder {
    font-weight: 500;
 
  }
  
  .container-login .social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
  }
  
  .container-login .icons{
    display: flex;
    gap: 10px;
    font-size: 2rem;
  }
  
  .container-login .btn {
    width: 9.3rem;
    background-color: var(--preto);
    border: none;
    outline: none;
    border-radius: 3rem;
    color: var(--branco);
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  .container-login .cadastro{
    text-align: center;
    text-decoration: none;
    margin-top: 1.5rem;
  }
@media (max-width:700px){
  .container-login .input-field {
width: 150%;
  }
}