:root{
    --amarelo:#ffca3e;
    --amarelo2:#FED356;;
    --verde-claro:#D9F8BA;
    --verde:#8CD673;
    --preto:#000000;
    --vermelho:#990000;
    --branco:#f5f5f5;
    --preto-night:#131212;
    --cinza:#525252;
    --verde2:#1BA96C;
    --cinza-claro:#e6e6e6;
    --verde-escuro:#093824;
    --verde-escuro2: #095635;
}
.container-plano{
    padding: 0.5rem 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.container-plano h2{
    font-weight: 700;
    color: var(--cinza);
}
.back{
    font-size: 1.5rem;
    color: var(--vermelho);
    width: 100%;
    text-align: justify;
}
.nav-pagamentos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--verde-claro);
    height: 12rem;
    width: 70%;
    border-radius: 1.5rem;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
}
.nav-pagamentos img{
    height: 105%;
}
.nav-pagamentos div{
    padding: 1.3rem 0.7rem;
}
.nav-pagamentos strong{
    color: var(--cinza);
}
.cartoes{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 1rem;
    justify-self: center;
    align-items: center;
    width: 75%;
}
.cartoes img{
    width: 6rem;
    height: 4rem;
    border-radius: 1.2rem;
    cursor: pointer;
}
.btn-cartao{
    margin: 1rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.btn-cartao button{
background-color: #fed45688;
padding: 1rem;
text-align: center;
color: var(--preto);
border: none;
border-radius: 1rem;
font-weight: 600;
width: 8rem;
cursor: pointer;
transition: 0.3s ease-in-out;
}
.btn-cartao button:hover{
    background-color: var(--amarelo);
}
.btn-cartao .ativo{
    background-color: var(--amarelo);
}
.funcoes-cartao button{
    font-size: 1.5rem;
    color: var(--preto);
    width: 14rem;
    padding: 0.4rem;
    background-color: var(--amarelo);
    border-radius: 1.5rem;
    font-weight: 700;
    border: none;
}