@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/*geral*/

.container-parcerias{
   padding: 0.6rem 0rem;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../assets/img2/curvaDireita.webp');
    background-repeat: repeat-Y;
    background-size: cover;
}
.title-parceria{
font-size: 2rem;
color: var(--verde-escuro);
font-weight: bold;
margin-bottom: 0.5rem;
}
.line{
    width: 30%;
    border-bottom: 2px solid var(--verde-escuro) ;
}
/*cards*/
.content-parceria{
    margin-top: 1.5rem;
}

.card-parcerias {
    background-color: #e0f8e0;
    padding: 1.2rem;
    border-radius: 0.6rem;
    text-align: center;
    max-width: 37.5rem;
    margin: 0 auto;
    min-height: fit-content;
    margin-bottom: 4rem;
  }
  
  .parceria-img {
    max-width: 5.6rem;
    margin-bottom: 1.2rem;
  }
  
  .card-content {
    font-size: 1rem;
    color: #333;
  }

@media (max-width:600px){
    .container-parcerias{
        background-repeat: repeat-Y;
        background-size: auto;
    }
    .card-parcerias{
        width: 26rem;
    }
    .line{
        width: 80%;
    }
}
@media (max-width:450px){
    .title-parceria{
        font-size: 1.5rem;
    }
    .line{
        width: 85%;
    }
    .card-parcerias{
        width: 18rem;
        font-size: 0.8rem;
    }
    .parceria-img {
        max-width: 4.5rem;

      }
      
}
@media (max-width:300px){
    .title-parceria{
        font-size: 1rem;
    }
    .container-parcerias{
        background-size: cover;
        background-repeat: no-repeat;
    }
    .line{
        width: 90%;
    }
    .card-parcerias{
        box-sizing: border-box;
        width: 14rem;
        font-size: 0.7rem;
        padding: 0.5rem 0.1rem;
    }
    .parceria-img {
        max-width: 3rem;

      }

}