/* configurações favoritos */
.linkPerfil{
    text-decoration: none;
    color: var(--preto);

}
.containerPerfil{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.5rem;
    background-image: url('../assets/Curvas/1Prancheta 1 cópia 7.png');
    background-repeat: no-repeat;
    background-size: cover;
   
}
.tituloPerfil{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
}
.detalhesPerfil{
    width: 80%;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    border-radius: 1rem;
    gap: 20rem;
}
.configPerfil h3{
    margin: 0;
    padding: 0.1rem 0.6rem;
    font-size: 1.5rem;
    border: 1px solid var(--cinza-claro);
}
.avatarPerfil{
    display: flex;
}
.avatarPerfil img{
    display: flex;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}
.restaurantesPerfil{
    display: grid;
   grid-template-columns: repeat(5, 1fr);
}
.configPerfil span{
    font-size: 1rem;
    padding: 0 0.4rem 0 0.1rem;
    color: var(--vermelho);
}
.textoPerfil{
    margin: 1.3rem ;
}




/* fim favoritos */

/*configurações clientes*/
.container-config{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.5rem;
    background-image: url('../assets/Curvas/1Prancheta 1 cópia 8.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.config-perfil{
    display: flex;
    justify-content: space-between;
   background-color: #fff;
   padding: 1rem;
   border-radius: 1rem;
    width: 80%;
}
.configPerfil2{
    margin-top: 2rem;
}
.configPerfil2 h3{
    margin: 0;
    padding: 0.1rem 0.6rem;
    font-size: 1.5rem;
    border: 1px solid var(--cinza-claro);
}
.configPerfil2 span{
    font-size: 1rem;
    padding: 0 0.4rem 0 0.1rem;
    color: var(--vermelho);
}
.client-config-info{
    display: flex;
    gap: 0.7rem;
}
.config-perfil .config-text{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}
.config-perfil img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}
.menu-config{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--cinza-claro);
    padding: 0 0.2rem ;
    justify-content: center;
   height: fit-content;
   border-radius: 1rem;

}
.menu-config p{
 font-size: 1.1rem;
 padding:0.3rem 1rem ;
 border-bottom: 2px solid var(--cinza-claro);
 color: var(--preto);
 font-weight: 500;
 cursor: pointer;
}
.menu-config a{
    text-decoration: none;
}
.container-config span{
    color: var(--vermelho);
}
.container-form-config{
    width: 80%;
    background-color: #fff;
    margin-top: 5%;
    padding: 1rem;
    border-radius: 1rem;
  
}
.container-form-config form{
    display: grid;
    gap:  2rem;
    grid-template-columns:repeat(2,1fr);
}
.container-form-config form input{
    outline: none;
  border: none;
  color: var(--cinza);
  font-size: 1.2rem;

  border-bottom: 1px solid var(--preto);
  height: fit-content;
}
.opcoesGenero{
    display: flex;
    flex-direction: row;
    gap: 0 1rem;
}
.input-special{
    display: flex;
    justify-content: space-between;
align-items: end;
}
.input-special button{
  
    cursor: pointer;
    border: none;
    color: var(--vermelho);
    background-color: transparent;
    margin-left: 0.2rem;
}
.input-special input{
    width: 91%;
}
#eye{
    display: none;
}
/* Perfil restaurantes */
.containerResPerfilS{
    display: flex;
}
.containerResPerfil{
    display: flex;
    flex-direction:column;
    width: 100%;
    align-items: center;
    background-image: url('../assets/Curvas/1Prancheta 1 cópia 4.png');
    background-repeat: no-repeat;
    background-size: cover;

}
.tituloResPerfil{
    width: 100%;
    
}
.tituloResPerfil h2{
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--verde-escuro2);
    font-weight: 650;
}
.localResPerfil{
    display: flex;
    justify-content: space-between;
    box-shadow: 0rem 0rem 0.4rem -0.1rem gray;
    border-radius: 2rem;
    text-align: center;
    padding: 1rem;
    width: 75%;
    margin-bottom: 2rem;
    background-color: var(--branco);
    background-image: url('../assets/Curvas/1Prancheta 1 cópia 6.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}
.info-perfil{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.info-perfil2{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 45%;
}
.localResPerfil img{
    width: 10rem;
    height:10rem;
    border-radius: 100%;
    margin-left: 1rem;
}
.descriResPerfil{
   
    text-align: justify;
    padding-left: 1rem;
}
.descriResPerfil h2{
    font-size: 1.3rem;
    font-weight: 650;
    margin: 0;
}
.descriResPerfil h3{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.1rem;
}
.descriResPerfil h4{
    font-size: 0.9rem;
    font-weight: 500;
}
.descriResPerfil h5{
    margin-top: 2rem;
    font-size: 0.7rem;
    font-weight: 600;
}
.descriResPerfil #clock{
    color: var(--verde-escuro2);
    font-size: 0.9rem;
    margin-right: 0.3rem;
}
.EditResPerfil{
    display: flex;
    color: var(--vermelho);
    align-items: end;
}
.EditResPerfil h2{
    font-size: 0.9rem;
}

/* segundoCard */
.horaResPerfil{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.horaResPerfil h2{
    font-size: 1rem;
    font-weight: 650;
}
.horaResPerfil button{
    font-size: 1rem;
    color: var(--branco);
    font-weight: 650;
    background-color: var(--vermelho);
    border: none;
    border-radius: 2rem;
    width: 100%;
    padding: 0.3rem;
    margin-bottom: 0.4rem;
}
.horaResPerfil .horarioResPerfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.abreRes{
    display: flex;
    gap: 2rem;
}
.abreRes2{
    display: flex;
    gap: 3.3rem;
}
.abreRes h4{
    font-size: 1.1rem;
    font-weight: 550;
}
.abreRes2 h5{
    font-size: 1.2rem;
    background-color: var(--cinza-claro);
    padding: 0.1rem 0.6rem 0.1rem 0.6rem;
    border-radius: 2rem;
}

.intoleranciasResPerfil{
    padding: 0.7rem 1.5rem;
    width: 40%;
    border-radius: 2rem;
    background-color: var(--amarelo2);
}
.intoleranciasResPerfil h2{
    padding-top: 0.7rem;
    font-size: 1.4rem;
    font-weight: 600;
}
.intoleranciasResPerfil h3{
    
    font-size: 1.4rem;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.intoleranciasResPerfil .circle{
    font-size: 0.7rem;
    color: var(--vermelho);
    margin: 0rem 0.5rem 0rem 0.5rem;
}
.intoleranciasResPerfil h4{
    font-size: 1.1rem;
}
.intoleranciasResPerfil .num-avaliacao{
    font-size: 4rem;
}
.text-avaliacao-perfil{
    text-align: justify;
    margin: 0.7rem;
}
.intoleranciasResPerfil span{
    color:var(--vermelho);
}
.conteiner2-cards{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 1rem;
}
.card-perfilRest{
    background-image: url('../assets/Curvas/1Prancheta 1 cópia 6.png');
    background-size: cover;
    padding: 1.5rem;
    box-shadow: 10px 10px 12px rgba(0,0,0, 0.2);
    border-radius: 1.5rem;
    text-transform: uppercase;
    width: 42%;
    display: flex;
    flex-direction: column;
}
.card-perfilRest h2{
    font-size: 1.8rem;
    text-align: center;
    font-weight: 600;
    color: var(--preto-night);
}
.card-perfilRest p{
    font-size: 1.3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card-perfilRest span{
    background-color: var(--cinza-claro);
    padding: 0.6rem;
   width: 3.5rem;
   text-align: center;
   border-radius: 1.3rem;
}
.card-perfilRest button{
    background-color: var(--vermelho);
    color: var(--branco);
    font-weight: 500;
    font-size: 1.3rem;
    text-transform: uppercase;
    border: 2px solid transparent;
    margin: 0.6rem;
    padding: 0.4rem 0;
    border-radius: 1.5rem;
    transition: 0.3s ease-in-out;
}
.card-perfilRest button:hover{
    background-color:var(--branco);
    border: 2px solid var(--vermelho);
    color: var(--vermelho);
    
}
.btn-perfil-config{
    padding: 0.2rem 0.5rem;
border: none;
border-radius: 1.2rem;
font-weight: 600;
color: var(--preto);
background-color: var(--amarelo2);
font-size: 1.3rem;
width: 12rem;
margin-top: 1rem;
transition: 0.1s ease-in-out;
}
.btn-perfil-config:hover{
    background-color: var(--amarelo);
}
@media (max-width: 1150px ) {
    .detalhesPerfil{
gap: 10rem;
    }
    .restaurantesPerfil{
        grid-template-columns: repeat(4,1fr);
    }
    
}
@media (max-width: 915px ) {
    .detalhesPerfil{
        gap: 3rem;
            }
    .restaurantesPerfil{
        grid-template-columns: repeat(3,1fr);
    }
    .card-perfilRest{
        width: 46%;
    }
}
@media (max-width:800px){

    .localResPerfil{

        width: 90%;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
    .intoleranciasResPerfil, .horaResPerfil{
        width: 100%;
    }
    .card-perfilRest h2{
        font-size: 1.2rem;
    }
    .card-perfilRest p, .card-perfilRest button{
        font-size: 1rem;
    }
}
@media (max-width:750px){
    .container-form-config ,.config-perfil{
        width: 92%;
    }
    .config-perfil img{
        width: 8rem;
        height: 8rem;
    }
    .detalhesPerfil{
        width: 95%;
        gap: 0.5rem;
            }
    .restaurantesPerfil{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width: 675px ) {
    .detalhesPerfil{
        width: 100%;
        scale: 0.9;
        gap: 0.1rem;
    }
    .restaurantesPerfil{
        grid-template-columns: repeat(2,1fr);
    }
    
}
@media (max-width:600px){
    .container-form-config form{
        grid-template-columns: repeat(1,1fr);
    }
    .info-perfil{
        flex-direction: column;
    }
    .conteiner2-cards{
        flex-direction: column;
    }
    .card-perfilRest{
        width: 90%;
    }
}
@media (max-width: 540px ) {
    .detalhesPerfil{
        display: flex;
        flex-direction: column;
    }
    .avatarPerfil img{
        margin-bottom: 1rem;
    }
    .detalhesPerfil{
        width: 100%;
        scale: 0.9;
        gap: 0.1rem;
    }
    .restaurantesPerfil{
        grid-template-columns: repeat(2,1fr);
    }
    .config-perfil{
        flex-direction: column;
      }
      .config-perfil img{
          width: 6.5rem;
          height: 6.5rem;
          margin-bottom: 1rem;
      }
}

@media (max-width: 420px ) {
    .restaurantesPerfil{
        grid-template-columns: repeat(1,1fr);
    }
    .avatarPerfil img{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    }
    .card-perfilRest{
        width: 100%;
        transform: translateX(-20%);
        margin-bottom: 1rem;
    }
}
@media (max-width: 360px ) {
    .client-config-info{
        gap: 0.2rem;
        flex-direction: column;
    }
    .opcoesGenero{
        flex-direction: column;
    }
    .avatarPerfil img{
    margin-top: 1.9rem;
        width: 4rem;
    height: 4rem;
    border-radius: 50%;
    }
  .info-perfil img{
    width: 6rem;
    height: 6rem;
  }
  .descriResPerfil{
    font-size: 1rem;
  }
  .descriResPerfil h3{
    font-size: 0.8rem;
  }
  .intoleranciasResPerfil h2, .text-avaliacao-perfil h3{
    font-size: 1.1rem;
  }
  .intoleranciasResPerfil .num-avaliacao{
    font-size: 2.5rem;
  }
  .intoleranciasResPerfil h3, .text-avaliacao-perfil p, .intoleranciasResPerfil p, .intoleranciasResPerfil span,   .horaResPerfil h2, .horaResPerfil h4, .horaResPerfil h5, .horaResPerfil button{
    font-size: 0.9rem;
      }
      .EditResPerfil h2{
        font-size:0.8rem;
      }
}



