.containerPesquisa {
  padding: 1.2rem;
  background-size: cover;
  background-repeat: repeat-y;
  background-position-y: -17.7rem;
  background-position-x: 16.29rem;
}

.resultadoP {
  font-size: 1.2rem;
}
.highlight {
  color: red;
}
.main-content {
  display: flex;
}
.filters {
width: 100%;
display: flex;
flex-direction: column;
  border-right: 1px solid #ddd;
  padding-right: 1.2rem;
  margin-right: 1.2rem;
}
.filters label {
  font-weight: 600;
}
.filters .sort,
.filters,
.filters .intolerances {
  margin-bottom: 1.2rem;
} 
.results {
 width: 100%;
 display: flex;
 justify-content: right;
 align-items: flex-end;
 flex-direction: column;
}
.result-item {
  width: 95%;
  border: 1px solid #54545432;
  background-color: var(--branco);
  background-image: url('../assets/Curvas/1Prancheta 1 cópia 11.png');
  background-position-y: -14.2rem;
  background-position-x: -0.4rem;
  box-shadow: 0rem 0rem 0.4rem -0.15rem gray;
  background-repeat: no-repeat;
  background-size: 110%;

  padding: 10px;
  border-radius: 2rem;
  margin-bottom: 1.2rem;
}
.result-item h2 {
  margin-top: 0;
}
.result-item .info {
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: #555;
}
.result-item .images {
  display: flex;
  width: 100%;
  
  gap: 10px;
}
.result-item .images img {
  width: 6.25rem;
  height: 6.25rem;
  object-fit: cover;
  border-radius: 5px;
}
.view-store {
  display: inline-block;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  text-decoration: underline;
  cursor: pointer;
}
.sort select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--branco);
  border: 1px solid #5252522a;
  padding: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  max-width: 18.75rem;
  border-radius: 5px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDEyIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgMUw2IDZMMTEgMSIgc3Ryb2tlPSIjNjY2IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyYW5kcyIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px 7px;
}
#setinha{
  color: var(--vermelho);
}
#into{
  display: flex;
  flex-direction: column;
}
.result-logo{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.perfil-result{
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.containerPesquisa span{
  color: var(--vermelho);
  font-size: 1.2rem;
}
#btnFilter, #backFilter{
  display: none;
}
.btn-primary{
  width: fit-content;
  height: fit-content;
  font-size: 1.5rem;
  color: var(--vermelho);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btn-primary:hover{
  background-color: var(--vermelho);
}

.btn-filtrar button{

  background-color: var(--vermelho);
  border-radius: 1rem;
  font-size: 1.2rem;
  color: var(--branco);
  padding: 0.3rem;
  border: 1px solid var(--vermelho);
  width: 100%;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
.btn-filtrar button:hover{
  background-color: transparent;
  color: var(--vermelho);
}
.container-search{
  width: 80%;
  display: flex;
  flex-direction: column;

  align-items: end;
  padding: 1.5rem;
}
.container-search div{
  display: flex;
  flex-direction: column;

  align-items: baseline;
}
.container-search h2{
  color: var(--vermelho);
}
.search-res{
  padding: 0.2rem;
  border-radius: 0.5rem;
  border: 2px solid var(--cinza);
  outline: none;
  height: 2.5rem;
  width: fit-content;
}
#filtrarpesq{
  font-size: 1.6rem;
  font-weight: 450;
  margin-top: 0.5rem;
}
@media (max-width:650px){
.result-item .images{
  flex-direction: column;
}
}
@media (max-width:450px){
  .perfil-result, .info{
    flex-direction: column;
  }
}