
.container-planos{
    padding: 0.2rem 1rem;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 10px;
}
.card-planos-client{
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    box-sizing: border-box;
    border-radius: 1rem;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.2);
}
.card-planos-client h2{
color: var(--cinza);
font-family: "Lato", sans-serif;
font-weight: 800;
font-size: 1.5rem;
}
.card-planos-client .preco{
    display: flex;
}
.card-planos-client .preco{
    color: var(--amarelo);
}
.card-planos-client .preco h2{
    color: var(--amarelo);
    font-size: 2.5rem;
}
.card-planos-client .planoBtn{
width: 100%;
display: flex;
justify-content: center;
}
.card-planos-client .planoBtn button{
    padding:  0.4rem;
    width: 80%;
   border-radius: 0.5rem; 
   font-weight: 700;
}
.experiment button{
    border: 1px solid var(--verde);
    background-color: transparent;
    cursor: pointer;
    transition: 0.4s ease-in;
}
.experiment button:hover{
   background-color: var(--verde);
    color: var(--branco);
}
.assinarBtn button{
    background-color: var(--amarelo);
    border: 1.5px solid var(--amarelo);
    transition: 0.4s ease-in;
}
.assinarBtn button:hover{
    background-color: transparent;
    color: var(--amarelo);
}

.line-plano{
    margin: 1rem;
    width: 90%;
    border: 1px solid var(--cinza-claro);
}
.card-planos-client  ul{
    display: flex;
flex-direction: column;
align-items: start;
}
.card-planos-client li{
    font-weight: 600;
    color: var(--preto-night);
    display: flex;
    gap: 6px;
    align-items: start;
}
.card-planos-client li span{
    color: var(--verde2);
    font-size: 1.2rem;
}
.false{
    color: var(--vermelho);
}

@media (max-width:900px){
    .container-planos{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:550px){
    .container-planos{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width:300px){
    .card-planos-client{
        font-size: 0.7rem;
    }
    .card-planos-client li{
        font-size: 0.8rem;
    }
}

