@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

  .container-redefinir {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../assets/Curvas/1Prancheta 1 cópia 2.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .redefinir{
    width: 53%;
    margin-bottom: 6rem;
  }
  .card-voltar-img{
width: 45%;
margin-bottom: 3rem;
  }
  .redefinir{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
  .container-redefinir form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
 .container-redefinir .title {
    font-size: 2.2rem;
    color: var(--preto);
    margin-bottom: 0.6rem;
  }
  
  .container-redefinir .input-field {
    background-color: var(--cinza-claro);
    margin: 10px 0;
    border-radius: 3.4rem;
    width: 60%;
    padding: 0.8rem 0;
    display: flex;
  }
  
  .container-redefinir .input-field {
    text-align: center;
    line-height: 55px;
    color: #525252;
    transition: 0.5s;
    font-size: 1.1rem;
    align-items: center;
  }
  
  .container-redefinir .input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    margin-left: 8px;
  }
  
  .container-redefinir .input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
  }
  
  .container-redefinir .social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
  }
  
  .container-redefinir .icons{
    display: flex;
    gap: 10px;
    font-size: 2rem;
  }
  
   .container-redefinir .btn {
   width: 30%;
    background-color:var(--preto);
    border: none;
    outline: none;
    border-radius: 3.06rem;
    color: var(--branco);
    font-weight: 600;
    font-size: 1.2rem;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  .container-redefinir .voltar{
    text-align: center;
    text-decoration: none;
    margin-top: 1.5rem;
  }
  .btn-redefinir{
    padding: 0.5rem 1.5rem;
    border: none;
    cursor: pointer;
    color: var(--branco);
    background-color: var(--preto);
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 2rem;
  }
.container-redefinir .card-voltar h2{
    font-size: 3rem;
    margin-bottom: 0.2rem;
}
@media (max-width:900px){
  .card-voltar-img{
    width: 47%;
    margin-bottom: 4rem;
      }
}
@media (max-width:650px){
  .card-voltar-img{
    display: none;
  }
  .redefinir{
    width: 100%;
  }
}
@media (max-width:370px){
  .container-redefinir .input-field{
    width: 80%;
  }
 .container-redefinir .btn {
  width: 55%;
 }
}