


:root{
    --amarelo:#ffca3e;
    --amarelo2:#FED356;;
    --verde-claro:#D9F8BA;
    --verde:#8CD673;
    --preto:#000000;
    --vermelho:#990000;
    --branco:#f5f5f5;
    --preto-night:#131212;
    --cinza:#525252;
    --verde2:#1BA96C;
    --cinza-claro:#e6e6e6;
    --verde-escuro:#093824;
}
.identidadeVisual{
 
    font-size: 2.5rem;
    text-align: center;
    font-weight: 650;
    color: var(--verde-escuro2);
}
/* fontes Utilizadas */
.fontesUtilizadas {
   display: grid;
   grid-template-columns: repeat(2,1fr);
    width: 100%;
    padding: 10px;
    gap: 5px;

}
.coluna {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
  
}
.coluna p{
    font-size: 1rem;
}
.lato {
    font-family: 'Lato', sans-serif;
}
.raleway {
    font-family: 'Raleway', sans-serif;
}
.amarelo {
    color: var(--amarelo);
    font-size: 3rem;
}
.vermelho {
    color: var(--vermelho);
}
.normal {
    font-weight: 400;
}
.medium {
    font-weight: 500;
}
.semibold {
    font-weight: 600;
}
.bold {
    
    font-weight: bold;
}
.fontExemplo {
    width: 90%;
    margin-top: 0.6rem;
}
/* Divisor */
.divisao{
    border: 0.6rem solid var(--amarelo);
}
.divisao2{
    width: 100%;
 background-color: var(--amarelo);
height: 8rem;
display: flex;
align-items: end;
justify-content: end;
}
.divisao2 h2{
    color: var(--verde-escuro);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    background-color: var(--branco);
}

/* Logo */
.tituloLogo {
    width: 100%;
    height: 40rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/Curvas/1Prancheta1cópia10.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.tituloLogo h2 {
 
    font-size: 3rem;
    font-weight: 650;
    color: var(--cinza);
     
}
.logoCompleta{
    background-color: var(--verde);
    text-align: center;
    align-items: center;
display: flex;
flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.logoCompleta2{

    background-color: var(--amarelo);
    text-align: center;
    align-items: center;
display: flex;
flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.logoCompleta img{
    width: 60%;
}
.logoCompleta2 img{
    width: 60%;
}
.logoSignificado h3{
    text-align: center;
    font-size: 3rem;
    color: var(--cinza);
}
.logoSignificado{
    width: 100%;
    display: grid;
    
    grid-template-columns: repeat(7,1fr);
    align-items: center;
    justify-items: center;
    padding: 0.6rem;
}
.logoSignificado div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logoSignificado img{
  width: 100%;
}
.logoSignificado h2{
    margin-top: 1.4rem;
    font-size: 1rem;
    font-weight: 650;
    color: var(--cinza);
    text-align: center;
}
#Sabor{
    width: 16rem;
    height: 6rem;
}
#Pin{
    width: 7rem;
    height: 7rem;
}
#IA{
    width: 8rem;
    height: 6rem;
}
/*icones*/
.tituloPaleta{
    text-align: center;
    letter-spacing:0.1rem;
    font-size: 2rem;
    color: var(--cinza);
}
.sobre-icons{
    padding: 0.6rem;
    margin-top: 1.5rem;
    gap: 0.5rem;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 100%;
    align-items: center;
    justify-items: center;
    
}
.icon-sobre{
    font-size: 3rem;
    text-align: center;
    width: 100%;
}
.sobre-icons h3{
    margin-top: 0.5rem;
    color: var(--cinza);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
}


/*desenvolvedores*/
.container-dev{
    display: grid;
    width: 100%;
    justify-items: center;
    grid-template-columns: repeat(3,1fr) ;
    gap: 0.3rem;
    padding: 0.4rem 1em;
}
.card-dev{
 width: 95%;
 display: flex;
 gap: 0.5rem;
}
.dev-img{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    overflow: hidden;
    border: 0.5rem solid var(--verde);
}
.dev-img img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-dev h2{
    font-weight: bold;
    border-bottom: 2px solid var(--preto);
    font-size: 1.5rem;
}
.dev-content{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.dev-content div{
    width: 100%;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    font-size: 3rem;
}
.fa-github{
    color: var(--preto-night);
}
/*card mvv*/
.container-MVV{
    background: url('../assets/Curvas/1Prancheta 1 cópia 6.png') no-repeat center center;
    margin-top: 2rem;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
    
}
.cardMVV{
    display: flex;
    align-items: center;
    width: 99%;
}
.visao{
    display: flex;
    align-items: center;
    justify-content: center;
}
.valores{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 0.5rem;
}
.mvv-img img{
width: 10rem;
height: 10rem;
border-radius: 100%;
border: none;
transform: translateX(18%);
}
.mvv-content h2{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Lato' sans-serif;
    margin-bottom: 0.4rem;
    margin-left: 1rem;
}
.mvv-content p{
    border: none;
    padding: 1.5rem 2rem ;
    border-radius:  0 10rem 10rem 0 ;
    
}
.missao h2{
    color: var(--cinza);
}
.visao h2{
    color: var(--amarelo);
}
.valores h2{
    color: var(--verde);
}
.missao p{
    background-color: #5252525b;
    width: 75%;
}
.visao p{
    background-color: #ffcc3e9c;
    width: fit-content;
}
.valores p{
    background-color: #8cd67396;
    width: fit-content;
}
.desenvolvedores{
    background-color: var(--verde);
    color: var(--branco);
    text-align: center;
    padding: 25px 0;
    margin: 3rem 0 4rem 0;
}
@media (min-width:2000px){
    .container-dev{
        grid-template-columns: repeat(4,1fr);
       }
}
@media (max-width:1200px){
    .fontesUtilizadas{
        grid-template-columns: repeat(1,1fr);
    }
    .container-dev{
        grid-template-columns: repeat(2,1fr);
    }
    #Pin{
        width: 5rem;
        height: 5rem;
    }
    .missao p{
        width: fit-content;
    }
}
@media (max-width:850px){
    .mvv-img img{
        width: 8rem;
        height: 8rem;
    }
    .mvv-content p{
        padding: 0.8rem 1.8rem;
        border-radius:  0 10rem 10rem 3rem ;
    }
   
}
@media (max-width:770px){
    #Sabor{
        width: 10rem;
        height: 4rem;
    }
    #Pin{
    
        width: 5rem;
        height: 5rem;
    }
    #IA{
    
        width: 4rem;
        height: 2rem;
    }
}
@media (max-width:750px){
    .sobre-icons{
        grid-template-columns: repeat(3,1fr);
    }
    .dev-img{
        width: 8rem;
        height: 8rem;
    }



}
@media (max-width:600px){
   .logoSignificado{
    grid-template-columns: repeat(4,1fr);
   }
    .dev-img{
        width: 6rem;
        height: 6rem;
    } 
    .amarelo{
        font-size: 2rem;
    }
    .dev-content div{
        font-size: 2rem;
    }
    .icon-sobre, .logoSignificado h3, .tituloLogo h2, .divisao2 h2, .identidadeVisual {
        font-size: 1.8rem;
    }
    .cardMVV{
        flex-direction: column;
    }
    .mvv-content{
        width: 60%;
       padding-top: 1.2rem;
    }
    .mvv-img img{
        width: 7rem;
        height: 7rem;
        transform: translateY(30%);
        box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
    }
    .mvv-content p{
        font-size: 0.8rem;
        border-radius:  0rem 0rem 0rem 0rem  ;
        background-color: transparent;
    }
    .mvv-content h2{
        font-size: 1.2rem;
        text-align: center;
        color: var(--branco);
        margin-top: 1.2rem;
    }
    .missao .mvv-content{
      
        background-color: #5252525b;
        border-radius:  1.5rem 1.5rem 1.5rem 1.5rem  ;
    }
    .visao .mvv-content{
        background-color: #ffcc3e9c;
        border-radius:  1.5rem 1.5rem 1.5rem 1.5rem  ;
    }
    .valores .mvv-content{
        background-color: #8cd67396;
        border-radius:  1.5rem 1.5rem 1.5rem 1.5rem  ;
    }
}
@media (max-width:470px){
   .container-dev{
    grid-template-columns: repeat(1,1fr);
   }
   .coluna p{
    font-size: 0.7rem;
}
.mvv-img img{
    width: 6rem;
    height: 6rem;
}
.mvv-content{
    width: 80%;
}
}
@media (max-width:400px){
   
    .sobre-icons{
        grid-template-columns: repeat(2,1fr);
    }
    .logoSignificado{
        grid-template-columns: repeat(1,1fr);
       }
       .logoSignificado img{
        width: 85%;
       }
       #Sabor{
        width: 14rem;
        height: 6rem;
    }
    #Pin{
    
        width: 7rem;
        height: 7rem;
    }
    #IA{
    
        width: 6rem;
        height: 4rem;
    }
}
@media (max-width:350px){
 .coluna p{
    font-size: 0.5rem;
 }

}